* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #913826;
}

header {
  height: 100%;
  background: #f9dbb9;
  padding: 10px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
header img {
  max-height: 150px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container footer {
  background-color: #558c7d;
  height: 150px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  display: flex;
  justify-content: right;
}
.container footer img {
  width: 50px;
}
.container footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
}
.container footer ul li {
  margin: 0 10px;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Truculenta", sans-serif;
  font-size: 30px;
  color: #75aa96;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #2a446a;
}
nav img {
  margin-right: 350px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
  justify-content: center;
  padding-bottom: 30px;
}

.Slider {
  height: 600px;
  background-image: url(../img/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form .form-group {
  margin-bottom: 20px;
}
.contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.contact-form .form-group input[type=text],
.contact-form .form-group input[type=tel],
.contact-form .form-group input[type=email],
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form .form-group input[type=text] textarea,
.contact-form .form-group input[type=tel] textarea,
.contact-form .form-group input[type=email] textarea,
.contact-form .form-group textarea textarea {
  resize: none;
}
.contact-form button {
  background-color: #558c7d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: #2a446a;
}

main img {
  border-radius: 10px;
  max-width: 60%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Prendas h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  nav ul {
    display: flex;
    align-items: flex-start;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav img {
    margin-right: 20px;
    max-width: 70%;
  }
  footer img {
    max-width: 70%;
  }
}
@media screen and (max-width: 576px) {
  nav ul li a {
    font-size: 16px;
  }
  nav img {
    margin-right: 0px;
  }
  footer img {
    max-width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
