* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: $marron;
  }
  .Slider {
    height: 600px;
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }