
    footer {
      background-color: $turquesa;
      height: 150px;
      border-bottom-left-radius: $redondeado;
      border-bottom-right-radius: $redondeado;
      display: flex;
      justify-content: right;
  
      img {
        width: 50px;
      }
  
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
  
        li {
          margin: 0 10px;
        }
      }
    }
