@media screen and (max-width: 1200px) {
    nav {
        ul {
            li {
                a {
                    font-size: 18px; /* Reducimos el tamaño de la fuente */
                }
            }
        }
        img {
            max-width: 70%;
        }
    }
  
    footer {
        ul {
            li {
                img {
                    max-width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    nav {
        ul {
            li {
                a {
                    font-size: 14px; /* Reducimos aún más el tamaño de la fuente */
                }
            }
        }
    }
  
    footer {
        ul {
            li {
                img {
                    max-width: 70%;
                }
            }
        }
    }
}

  

  