$redondeado:70px;
$marron:#913826;
$crema:#f9dbb9;
$turquesa:#558c7d;
$gris:#ccc;
$verdemanzana:#75aa96;
$azulopaco:#2a446a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:$marron;
  }
  
  header {
    height: 100%;
    background: $crema;
    padding: 10px;
    border-top-left-radius: $redondeado;
    border-top-right-radius: $redondeado;
  
    img {
      max-height: 150px;
    }
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  
    footer {
      background-color: $turquesa;
      height: 150px;
      border-bottom-left-radius: $redondeado;
      border-bottom-right-radius: $redondeado;
      display: flex;
      justify-content: right;
  
      img {
        width: 50px;
      }
  
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
  
        li {
          margin: 0 10px;
        }
      }
    }
  }
  
  nav {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
  
    ul {
      list-style: none;
      display: flex;
  
      li {
        margin: 0 10px;
  
        a {
          text-decoration: none;
          font-family: "Truculenta", sans-serif;
          font-size: 30px;
          color: $verdemanzana;
          transition: color 0.3s;
  
          &:hover {
            color: $azulopaco;
          }
        }
      }
    }
  
    img {
      margin-right: 350px;
    }
  }
  
  main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .Slider {
    height: 600px;
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $gris;
        border-radius: 5px;
  
        textarea {
          resize: none;
        }
      }
    }
  
    button {
      background-color: $turquesa;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: $azulopaco;
      }
    }
  }
  
  main img {
    border-radius: 10px;
    max-width: 60%;
    height: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .Prendas {
    h1 {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  
  /* Media Queries */
  @media screen and (max-width: 1200px) {
    nav ul {
      display: flex;
      align-items: flex-start;
  
      li a {
        font-size: 20px;
      }
    }
  
    nav img {
      margin-right: 20px;
      max-width: 70%;
    }
  
    footer img {
      max-width: 70%;
    }
  }
  
  @media screen and (max-width: 576px) {
    nav ul li a {
      font-size: 16px;
    }
  
    nav img {
      margin-right: 0px;
    }
  
    footer img {
      max-width: 70%;
    }
  }
  